<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <title>人物关系抽取</title>

		{% load staticfiles %}
	    <link rel="shortcut icon" href="{%static 'favicon.ico' %}"> 
	    <!-- <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->

	    <link href="{%static 'css/plugins/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
	    <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">

	</head>
	<body>
		<table id="table" data-toggle="table"></table> 
	</body>

	<script src="{%static 'js/jquery.min.js' %}"></script>
	<script src="{%static 'js/bootstrap.min.js' %}"></script>
	<script src="{%static 'js/plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
	<script src="{%static 'js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js' %}"></script>
	<script>

    $('#table').bootstrapTable({
        url: '"../../../../../static/json/data1.json',
        // queryParams:"queryParams",
        // toolbar:"#toolbar",
        pagination:"true",
        search:"true",
        // showRefresh:"true",
        // showToggle:"true",
        // showColumns:"true",
        pageSize:"5",
        columns: [{
            field: 'id',
            title: 'id'
        }, {
            field: 'name',
            title: 'name'
        }, {
            field: 'price',
            title: 'price'
        }, ]
    });


</script>
</html>